.root {
    -fx-background-image: url("mainMenuBackground.png");
    -fx-background-size: 120%;
}

.menu-bar {
    -fx-background-color: rgba(255, 240, 245, 0.5);
}

.menu-item {
    -fx-background-color: lightpink;
}

.menu-item:focused {
    -fx-background-color: deeppink;
}

.button {
    -fx-background-color: lightpink;
    -fx-font-size: 20;
    -fx-pref-width: 400;
    -fx-cursor: hand;
}

.button:focused {
    -fx-background-color: deeppink;
}